/* ------- MEDIA QUERIES (MEDIUM DEVICES) -------

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
/* ------- MEDIA QUERIES (MEDIUM DEVICES) ------- */

/* @media screen and (max-width: 600px) {
  .container {
    width: 85%;
  }
} */ 
